<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TEST PROJECT</title>
  <meta
    name="description"
    content="Test project description"
  />
  <meta property="og:title" content="Test project title" />
  <meta
    property="og:description"
    content="Test project description"
  />
  <meta
    property="og:url"
    content="https://example.com"
  />
  <meta property="og:type" content="website" />
  <link rel="canonical" href="https://example.com" />
  <link rel="stylesheet" href="scss/main.scss" />
  <!-- <meta property="og:image" content="images/share.jpg" /> -->
  <meta property="og:image:type" content="image/jpg" />
  <meta name="twitter:card" content="summary_large_image" />
  <!-- <meta
    property="twitter:image"
    content="hhttps://example.com/images/share.jpeg"
  /> -->
  <link
    rel="preload"
    href="fonts/proximanova_regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/proximanova_regular.woff"
    as="font"
    type="font/woff"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/proximanova_bold.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/proximanova_bold.woff"
    as="font"
    type="font/woff"
    crossorigin
  />

  <!-- icons -->
  <include src="meta/meta-icons.html"></include>

  <!-- scripts -->
  <include src="meta/meta-scripts.html"></include>
</head>
