<!-- favicons -->
<link
  data-rh="true"
  rel="shortcut icon"
  type="image/x-icon"
  href="https://yastatic.net/s3/travel/static/_/14b27deae7627419afa6.ico"
/>
<link
  data-rh="true"
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="https://yastatic.net/s3/travel/static/_/d519bd53f724c683954d.png"
/>
<link
  data-rh="true"
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="https://yastatic.net/s3/travel/static/_/6539415c9fe4d58efeda.png"
/>
<link
  data-rh="true"
  rel="icon"
  type="image/png"
  sizes="57x57"
  href="https://yastatic.net/s3/travel/static/_/0cac1c35629d29af8275.png"
/>
<link
  data-rh="true"
  rel="icon"
  type="image/png"
  sizes="72x72"
  href="https://yastatic.net/s3/travel/static/_/b9b3e02a0d43bc171e47.png"
/>
<link
  data-rh="true"
  rel="icon"
  type="image/png"
  sizes="76x76"
  href="https://yastatic.net/s3/travel/static/_/b97d1e5876caa28d700a.png"
/>
<link
  data-rh="true"
  rel="icon"
  type="image/png"
  sizes="120x120"
  href="https://yastatic.net/s3/travel/static/_/4ea11f7222e21c251737.png"
/>
<link
  data-rh="true"
  rel="icon"
  type="image/png"
  sizes="144x144"
  href="https://yastatic.net/s3/travel/static/_/3fdb4fd27b8515c4ec5d.png"
/>
<link
  data-rh="true"
  rel="icon"
  type="image/png"
  sizes="152x152"
  href="https://yastatic.net/s3/travel/static/_/813314c8648114398f1b.png"
/>
<link
  data-rh="true"
  rel="icon"
  type="image/png"
  sizes="180x180"
  href="https://yastatic.net/s3/travel/static/_/7a329db9a67caff87d60.png"
/>
<link
  data-rh="true"
  rel="apple-touch-icon"
  sizes="57x57"
  href="https://yastatic.net/s3/travel/static/_/0cac1c35629d29af8275.png"
/>
<link
  data-rh="true"
  rel="apple-touch-icon"
  sizes="60x60"
  href="https://yastatic.net/s3/travel/static/_/cec26cf6e27080c5b9cf.png"
/>
<link
  data-rh="true"
  rel="apple-touch-icon"
  sizes="76x76"
  href="https://yastatic.net/s3/travel/static/_/b97d1e5876caa28d700a.png"
/>
<link
  data-rh="true"
  rel="apple-touch-icon"
  sizes="114x114"
  href="https://yastatic.net/s3/travel/static/_/0307a958e00601fa331e.png"
/>
<link
  data-rh="true"
  rel="apple-touch-icon"
  sizes="120x120"
  href="https://yastatic.net/s3/travel/static/_/4ea11f7222e21c251737.png"
/>
<link
  data-rh="true"
  rel="apple-touch-icon"
  sizes="144x144"
  href="https://yastatic.net/s3/travel/static/_/3fdb4fd27b8515c4ec5d.png"
/>
<link
  data-rh="true"
  rel="apple-touch-icon"
  sizes="152x152"
  href="https://yastatic.net/s3/travel/static/_/813314c8648114398f1b.png"
/>
<link
  data-rh="true"
  rel="apple-touch-icon"
  sizes="180x180"
  href="https://yastatic.net/s3/travel/static/_/7a329db9a67caff87d60.png"
/>
