// breakpoints
$sm: 999.9px;
$lg: 1439.9px;
$break_sm: 540px;
// colors
$light-grey: #fcf8f8;
$white: #ffffff;
$black: #1c1c20;
$beige: #ffbe9f;
$violet: #997fff;
$dark-violet: #595478;
$white-20: rgba(81, 80, 80);
$white-40: rgba(118, 117, 117);
$black-20: rgba(28, 28, 32, 0.2);
$black-40: rgba(34, 34, 36);
$light_violet: #ebe7ea;

// font-size
$simple-text: 16px;



// variables new

$gray: rgba(55, 69, 74, 0.6);
$gray-primary: #37454a;
$primary: #37454a;
$green: #76b72a;
$BG-light-grey: #f4f4f4;
$stroke: #dfdfdf;