<section>
  <div
    class="modal fade"
    id="ModalForm"
    tabindex="-1"
    aria-labelledby="ModalForm"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ModalFormLabel">Записаться</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form action="">
            <input type="text" placeholder="Номер телефона" />
            <input type="email" placeholder="E-mail" />
            <label for="">
              <input type="checkbox" />
              <span
                >Вы согласны с нашей
                <a href="#">политикой конфиденциальности</a></span
              >
            </label>
            <button type="submit">Отправить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="ModalImg"
    tabindex="-1"
    aria-labelledby="ModalImg"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <img class="modal-img" src="images/banner.png" />
    </div>
  </div>
</section>
