<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <h2>Текст текст:</h2>
        <div class="about__text">
          <ul>
            <li>текст текст</li>
            <li>текст текст текст текст</li>
            <li>текст</li>
            <li>
              текст текст текст текст текст текст текст текст текст текст текст
              текст
            </li>
            <li>текст текст текст текст текст текст текст текст текст текст</li>
            <li>
              текст текст текст текст текст текст текст текст текст текст текст
              текст текст текст
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <img
          src="images/about.png"
          alt=""
          class="ModalImg"
          data-bs-toggle="modal"
          data-bs-target="#ModalImg"
        />
      </div>
    </div>
  </div>
</section>
