<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <div class="header__top-logo">
          <img src="images/logo.png" alt="" />
          <div class="header__top-contact d-none d-lg-block">
            <h3 class="mb-0">Текст Текст</h3>
            <div>
              <img src="images/map.svg" alt="" />
              <span class="active">Тексттт 10</span>
              <div class="line"></div>
              <span>текст (10)</span>
            </div>
          </div>
        </div>
        <div
          class="header__top-btn d-none d-lg-flex"
          data-bs-toggle="modal"
          data-bs-target="#ModalForm"
        >
          <div class="text">
            <span>Ш Б</span>
            н м к
          </div>
          <p class="mb-0">Запишитесь на <br />проверку</p>
        </div>
        <div class="header__top-left align-items-center d-none d-sm-flex">
          <div class="header__top-phone">
            <a href="tel:+88001111111">+7 (800) 111-11-11</a>
            <span data-bs-target="#ModalForm"
              >Перезвоните мне</span
            >
          </div>
          <div class="header__top-icon">
            <img src="images/favorite.svg" alt="" />
            <span>7</span>
          </div>
          <div class="header__top-icon">
            <img src="images/cart.svg" alt="" />
            <span>3</span>
          </div>
        </div>
        <div class="header__burger d-block d-lg-none">
          <nav class="navbar" id="header__burger">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarToggleExternalContent"
              aria-controls="navbarToggleExternalContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="header__menu d-none d-lg-block" id="header__menu">
    <div class="container">
      <div class="row">
        <nav
          class="d-block d-sm-flex justify-content-center p-md-4 col-md-10 col-xs-12"
        >
          <a href="">Текст текст</a>
          <a href="">Текст текст текст</a>
          <a href="">Текст текст</a>
          <a href="">Текст текст</a>
          <a href="">Текст текст</a>
          <a href="">Текст и текст</a>
        </nav>
        <div
          class="header__top-left d-flex justify-content-center d-lg-none p-2"
        >
          <div class="header__top-icon">
            <img src="images/favorite.svg" alt="" />
            <span>7</span>
          </div>
          <div class="header__top-icon">
            <img src="images/cart.svg" alt="" />
            <span>3</span>
          </div>
        </div>
        <div class="col-md-1 col-xs-12 px-0 d-md-block position-relative">
          <div class="header__menu-serch">
            <form action="">
              <label for="search">
                <img src="images/serch.svg" alt="" />
                <input type="text" id="search" />
              </label>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
