<section class="service">
  <div class="container">
    <h2>Заголовок</h2>

    <div class="swiper mySwiper pb-2 mx-xs-2">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="service__item">
            <img
              src="images/service1.png"
              alt=""
              class="ModalImg"
              data-bs-toggle="modal"
              data-bs-target="#ModalImg"
            />
            <div class="service__item-info p-4">
              <h3>Вопрос вопрос вопрос?</h3>
              <p>Текст Текст Текст Текст Текст Текст</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service__item">
            <img
              src="images/service2.png"
              alt=""
              class="ModalImg"
              data-bs-toggle="modal"
              data-bs-target="#ModalImg"
            />
            <div class="service__item-info p-4">
              <h3>Вопрос вопрос вопрос?</h3>
              <p>Текст Текст Текст Текст Текст Текст</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service__item">
            <img
              src="images/service3.png"
              alt=""
              class="ModalImg"
              data-bs-toggle="modal"
              data-bs-target="#ModalImg"
            />
            <div class="service__item-info p-4">
              <h3>Вопрос вопрос вопрос?</h3>
              <p>
                Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст*
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service__item">
            <img
              src="images/service2.png"
              alt=""
              class="ModalImg"
              data-bs-toggle="modal"
              data-bs-target="#ModalImg"
            />
            <div class="service__item-info p-4">
              <h3>Вопрос вопрос вопрос?</h3>
              <p>Текст Текст Текст Текст Текст Текст</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service__item">
            <img
              src="images/service3.png"
              alt=""
              class="ModalImg"
              data-bs-toggle="modal"
              data-bs-target="#ModalImg"
            />
            <div class="service__item-info p-4">
              <h3>Вопрос вопрос вопрос?</h3>
              <p>
                Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст*
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
